<configuration debug="true">
    <!-- Load Spring properties -->
    <springProperty scope="context" name="serviceName" source="spring.application.name" />
    <property name="LOG_DIR" value="/Users/ligyn-004/Documents/Personal/nevpre/backend/logs" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %yellow(%d{dd-MM-yyyy HH:mm:ss.SSS}) %highlight([%-5level]) traceId=%X{trace_id} spanId=%X{span_id} %logger{46}.%M - %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="ECS_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/${serviceName}.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>

    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>localhost:5044</destination>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>

    <root level="debug">
        <appender-ref ref="CONSOLE" />
    </root>
    <root level="info">
        <appender-ref ref="ECS_FILE"/>
        <appender-ref ref="LOGSTASH"/>
    </root>
</configuration>